

.navigation {
  background-color: #774caf;
  padding: 10px;
  display: flex;
  align-items: center;
}

.brand-name {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-right: auto;
  padding: 10px;
  
}

.hamburger {
  display: none; /* Hide the hamburger button on larger screens */
  background: transparent;
  border: none;
  cursor: pointer;
  fill: white;
}

.navigation-menu {
  display: flex;
  align-items: center;
  
}

.navigation-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-menu li {
  margin-left: 20px;
}

.navigation-menu li:last-child {
  margin-right: 20px;
}

.button {
  background-color: #008CBA;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
  
}

.button:hover {
  background-color: #005b8a;
}

.heading {
  font-family: 'Times New Roman', Times, serif;
  color:black;
  align-items: center;
  padding-left: 550px;
  margin: 20px;
}

.main-segment {

  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 50px;
  margin: 10px;
  padding-top: 5px;
  
}

/* Media Query for smaller screens - show hamburger button */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu {
    display: none;
  }
  .navigation-menu.expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .navigation-menu.expanded ul {
    display: flex;
    flex-direction: column;
  }
}

body{
  background-image: linear-gradient(to right, rgb(131, 230, 122),rgb(123, 210, 250),rgb(224, 68, 154));
}

.box{
  
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
 padding: 50px;
 padding-top: 0px;
 margin-top: 0px;

}
